
body{

  border: solid;
  border-color:#80000c;
  margin: 10px;

}
p{
  padding: 20px;
  border: solid; /*1ºDibujamos borde que se extiende como la peste sin cortar*/
  border-color: #22ca22cf;
  margin: 0px;
  text-align: center;

}
