/* Estilo calculadora Elena del Río */

@font-face
{
   font-family: "HARRYP__";
   src: url("HARRYP__.TTF");
}

body{
  background-image: url("hhh.jpg");
  }

h1 {
  font-family: "HARRYP__";
  font-size: 100px;
  text-align: center;
  padding: 10px;
  margin: 50px;
  margin-bottom: 0px;
  color:#A98727;
  text-shadow:#CEAB46 2px 0;
  -webkit-text-stroke: 1px #533E03;
  }

.calc{
  /*background:  grey#380303;*/
  border-radius: 10px;
  text-align: center;
  font-family: "HARRYP__";
  font-size: 40px;
  width: 32%;
  padding: 0%;
  margin-left: auto;
  margin-right: auto;
  }

.pantalla{
  background: white;
  border-bottom:double ;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border: solid 40px rgba(1,1,1,0.8);
  border-bottom: 10px rgba(1,1,1,0.7);
  padding: 10px;
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 38px;
  height: 30px;
  background-color: rgba(255,255,255,0.2);
  margin-left: auto;
  margin-right: auto;
  width: 250px;
}

p{
  font-family: "HARRYP__";
  text-align: center;
  margin:0px;
  opacity: none;
  font-size: 40px;
  height: 50px;
  border:silver 5px ridge;
  border-radius: 5px;
  padding-top: 8px;
  }

.Calculator{
    background-color:rgba(1,1,1,0.7);
    padding: 15px;
    width: auto;
    border-bottom-left-radius:30px ;
    border-bottom-right-radius:30px;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
  }

.line1{
  padding: 10px;
  }

.line2{
  padding: 15px;
  padding-left: 23px;
  padding-right: 20px;
  }

.line3{
  padding: 15px;
  }

.line4{
  padding: 15px;
  padding-left: 0.5px;
  padding-right: 0.5px;
  }

button{
  font-family: "HARRYP__";
  font-size: 40px;
  border-radius: 40px;
}

button:hover {
  background-color:black ;
  color: white;
}
