/* Uso font-face para poder usar las fuentes
   descargadas de internet que quiero usar. */
@font-face
{
   font-family: "HARRYP__";
   src: url("HARRYP__.TTF");
}
body{
  background-image: url("hhh.jpg");
}
h1 {
  font-family: "HARRYP__";
  font-size: 80px;
  text-align: center;
  padding: 10px;
  margin: 50px;
  margin-bottom: 0px;
  color:white;
  }
  .calc{
    /*background:  grey#380303;*/
    border-radius: 30px;
    text-align: center;
    font-family: "HARRYP__";
      font-size: 30px;
  }
.cdigito{
  font-family: "HARRYP__";
  font-size: 30px;
    border-radius: 30px;
}
.coperator{
  font-family: "HARRYP__";
  font-size: 30px;
    border-radius: 30px;
}
.boton{
  font-family: "HARRYP__";
  font-size: 30px;
    border-radius: 30px;
}
.pantalla{
  background: white;
  border: solid;
  padding: 0px;
  margin: auto;

  height: 30px;
  margin-bottom: 30px;
  opacity: 60%;
}
p{
  font-family: "HARRYP__";
text-align: center;
margin-top: 5px;
opacity: none;
}
