
@font-face
{
   font-family: "LUMOS";
   src: url("LUMOS.ttf");
}
@font-face
{
   font-family: "HARRYP__";
   src: url("HARRYP__.TTF");
}
body {
  background-color:lightBlue;
  margin-right: 20px;
  margin-left: 100px;
  margin-top: 50px;
  margin-bottom: 20px;
}
img {
  float:left;
  margin-right: 20px;
  margin-left: 30px;
  margin-top: 50px;
  margin-bottom: 20px;
  width:120px;
  height:150px;
  }

h1 {
  font-family: "HARRYP__";
  font-size: 35px;
  text-align: center;
}
h2 {
  font-family: "HARRYP__";
  font-size: 30px;
  background-color:#00bcd4;
}
p {
  font-family: "LUMOS";
  font-size: 20px;
}
address {
  font-family: "LUMOS";
  font-size: 20px;
}
