@font-face
{
   font-family: "HARRYP__";
   src: url("HARRYP__.TTF");
}

body{
    background-image: url("how.png");
    background-size: cover;
    background-position: center;

}

h1{
  font-family: "HARRYP__";
  font-size: 100px;
  text-align: center;
  padding: 10px;
  margin: 50px;
  margin-bottom: 0px;
  color:#A98727;
  text-shadow:#CEAB46 9px 0;
  -webkit-text-stroke: 1.5px #533E03;
}
canvas{
   background-color: #24361b;
   background-size: cover;
   padding-left: 0;
   padding-right: 0;
   margin-left: auto;
   margin-right: auto;
   display: block;
   border-radius: 30px;
   border: #533E03 8px solid;
}

video{
border: #533E03 4px solid;
border-radius: 50px;
}

.fuenteuno{
  margin:auto;
  padding: 20px;
  float:left;
  text-align: center;
    padding-bottom: 0px;


}
.fuentedos{
  margin:auto;
  padding: 10px;
  float:left;
    text-align: center;
      padding-bottom: 0px;

}
.fuentetres{
  margin:20px;
  padding: 10px;
  padding-bottom: 0px;
  float:left;
    text-align: center;
}

.videocuatro{
  margin-left: 340px;
  margin-right: auto;
  text-align: center;
  float: left;
}
  #video4{
    border: none;


}
.menu{
    margin-right: 150px;
    padding: 10px;
    float: right;
}
.princu{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

button{
  font-family: "HARRYP__";
  background-color: #533E03;
  color: white;
  padding: 15px 32px;
  text-decoration: none;
  font-size: 30px;
  border-radius: 15px;
  border-width: 3px;
  border-color: white;
  margin-top: 50px;
}


button:hover {
  background-color:silver;
  color: #533E03 ;
  border-color:  #533E03;
  border-width: 3px;
}
